:root {
  --primary-color: #161515;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

nav {
  background-color: #272626;
  padding: 20px;
  margin-bottom: 12px;
}

nav ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-transform: capitalize;
}

nav ul li {
  color: white;
  font-size: 16px;
  margin: 0 8px 0 8px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: white;
  opacity: 0.2;
}

.about {
  color: white;
}

.music-embed {
  display: flex;
  justify-content: center;
}

.music-embed,
iframe {
  margin-left: 80px;
  height: 240px;
  width: 420px;
}
